<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268559559034-3rstd5g492h7c1c51i36fi2hb6akss75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268559559034-3rstd5g492h7c1c51i36fi2hb6akss75</string>
	<key>API_KEY</key>
	<string>AIzaSyD43L3pn8HNhejeNEQI4mpCEAPhtiK3JDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>268559559034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-de196</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-de196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268559559034:ios:eb79b737ed05a95fc2cec3</string>
</dict>
</plist>